<div class='container'>
<h1 class='trip-index-header'>Trips</h1>
<%= link_to "Log new trip", new_trip_path, class: 'btn btn-primary center' %>
<table class='trips-index-table'>
  <thead>
    <tr>
      <td><Trip Name</td>
      <td>Trip Start</td>
      <td>Trip End</td>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%=link_to trip.name, trip_path(trip) %></td>
        <td><%= trip.start_date %></td>
        <td><%= trip.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
